In [9]:
import pandas as pd
import numpy as np

data=pd.read_csv('E:\Data analyst\Aman Kharwal\Data preprocessing\data.csv',encoding='latin1')

In [10]:
data.head()

   NumericFeature1  NumericFeature2 CategoricalFeature
0              1.0                7                  A
1              2.0                8                  B
2              NaN                9                NaN
3              4.0               10                  A
4              5.0               11                  B

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NumericFeature1     6 non-null      float64
 1   NumericFeature2     6 non-null      int64
 2   CategoricalFeature  6 non-null      object
dtypes: float64(1), int64(1), object(1)
memory usage: 276.0+ bytes

In [11]:
data.describe()

       NumericFeature1  NumericFeature2
count         5.000000         6.000000
mean          3.600000        15.833333
std           2.073644        16.797817
min           1.000000         7.000000
25%           2.000000         8.250000
50%           4.000000         9.500000
75%           5.000000        10.750000
max           6.000000        50.000000

In [12]:
#select columns having datatypes of float and int 
#include its column names
numeric_features=data.select_dtypes(include=['float','int']).columns

In [8]:
numeric_features

Index(['NumericFeature1', 'NumericFeature2'], dtype='object')

In [13]:
categorical_features=data.select_dtypes(include=['object']).columns

In [46]:
categorical_features

Index(['CategoricalFeature'], dtype='object')

In [14]:
# to fill missing value in the numeric_feature columns
mean_numeric_feature=data[numeric_features].mean()
data[numeric_features]=data[numeric_features].fillna(mean_numeric_feature)
mean_numeric_feature

NumericFeature1     3.600000
NumericFeature2    15.833333
dtype: float64

In [53]:
data.head()

   NumericFeature1  NumericFeature2 CategoricalFeature
0              1.0                7                  A
1              2.0                8                  B
2              3.6                9                NaN
3              4.0               10                  A
4              5.0               11                  B

In [15]:
#to find mode of categorical feature column
mode_Cf=data[categorical_features].mode()
mode_Cf

  CategoricalFeature
0                  A
1                  B

In [16]:
# to fill missing value in the categorical_feature column
mode_categorical_feature=mode_Cf.iloc[0]
data[categorical_features]=data[categorical_features].fillna(mode_categorical_feature)

In [57]:
data

   NumericFeature1  NumericFeature2 CategoricalFeature
0              1.0                7                  A
1              2.0                8                  B
2              3.6                9                  A
3              4.0               10                  A
4              5.0               11                  B
5              6.0               50                  C

In [17]:
# to detect the outlier in numeric feature columns and replace it with mean value if there is any outlier
# outlier detection through interquartile method
for feature in numeric_features:
    Q1=data[feature].quantile(0.25)
    Q3=data[feature].quantile(0.75)
    IQR=Q3-Q1
    low_limit=Q1-(1.5*IQR)
    upper_limit=Q3+(1.5*IQR)
    data[feature]=np.where((data[feature]<low_limit)|(data[feature]>upper_limit),data[feature].mean(), data[feature])

In [61]:
data[feature]

0     7.000000
1     8.000000
2     9.000000
3    10.000000
4    11.000000
5    15.833333
Name: NumericFeature2, dtype: float64

In [19]:
# to standardize or normalize the dataset( we do this because certain machine learning algorithms
# accept features of same scale.Since the numeric features are of different scale in this data, we need to standardise)
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_data=scaler.fit_transform(data[numeric_features])
data[numeric_features] = scaler.transform(data[numeric_features])

In [20]:
#preprocessed data
data

   NumericFeature1  NumericFeature2 CategoricalFeature
0        -1.535624        -1.099370                  A
1        -0.944999        -0.749128                  B
2         0.000000        -0.398886                  A
3         0.236250        -0.048645                  A
4         0.826874         0.301597                  B
5         1.417499         1.994431                  C